.app,
.background {
  height: 100%;
  width: 100%;
  background-image: url("./map-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topContainer {
  display: flex;
  padding-top: 3vh;
}

.inputContainer {
  margin: 0 3vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.mainInput {
  padding: 10px;
  border: solid darkgrey;
  background: rgba(255, 255, 255, 0.7);
  color: darkgrey;
  font-size: 2.5vh;
  border-radius: 15px;
  max-height: 3vh;
  &:focus {
    outline: none;
  }
}

.suggestion {
  padding: 10px;
  background: #d2d2d2;
  margin: 3px;
  border-radius: 10px;
  flex-grow: 0;
  align-self: flex-start;
  cursor: pointer;
  &:hover {
    background: #cac9c9;
  }
}

.preferencesContainer {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.preference {
  padding: 10px;
  background: #cac9c9;
  margin: 3px;
  border-radius: 10px;
}

/** Taken from https://codepen.io/terkel/pen/dvejH */
.unstyledButton {
  user-select: none;
  padding: 0;
  overflow: visible;
  line-height: normal;
  font: inherit;
  color: inherit;
  border: 0;
  background: none;
  box-sizing: content-box;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.iconContainer {
  display: inline;
  padding: 3px;
  border-radius: 4px;
}

.gymIcon {
  background-color: orange;
}
