.appContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: auto;
  grid-template-areas: "map sidebar";
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  &:not(:first-child) {
    margin-top: 15px;
  }
}

.mapContainer {
  grid-area: "map";
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.mapOverlayContainer {
  width: calc(100vw - 450px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  * {
    pointer-events: auto;
  }

  &,
  * {
    z-index: 1000;
  }
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  grid-area: "sidebar";
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  max-height: 100%;
  max-width: 100%;
}

.propertiesContainer {
  flex-grow: 1;
  overflow-y: auto;

  .propertiesHeaderContainer {
    display: flex;
    justify-content: space-between;
    .sortContainer * {
      margin-top: 20px;
    }
  }

  .propertyResult {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 20px 20px;
    padding: 10px;

    .propertyAttributesContainer {
      h1 {
        font-size: 20px;
      }
    }

    .leftHandSide {
      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 16px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.topContainer {
  display: flex;
  padding-top: 3vh;
  align-items: flex-start;
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.filter {
  display: flex;
  padding: 10px;
  background: #cac9c9;
  box-sizing: content-box;
  width: 26px;
  height: 25px;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  overflow: hidden;

  transition: all 250ms ease;

  span {
    white-space: nowrap;
    margin-top: 2px;
  }

  button,
  span {
    visibility: hidden;
  }

  &:hover,
  &:focus,
  &:active {
    width: 200px;

    button {
      float: right;
    }

    button,
    span {
      visibility: visible;
    }

    span {
      margin-right: 6px;
    }

    .iconContainer {
      margin-right: 6px;
    }

    input {
      outline: none;
      background: none;
      border: none;
      width: 40px;
    }
  }
}

/** Taken from https://codepen.io/terkel/pen/dvejH */
.unstyledButton {
  user-select: none;
  padding: 0;
  overflow: visible;
  line-height: normal;
  font: inherit;
  color: inherit;
  border: 0;
  background: none;
  box-sizing: content-box;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.iconContainer {
  display: inline;
  padding: 3px;
  border-radius: 4px;
}

.gymIcon {
  background-color: orange;
}

.growingFlex {
  flex-grow: 1;
  margin: auto;
}

.currentLocationButton {
  /* Reset button style */
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  position: absolute;
  bottom: 40px;
  right: 0;

  i {
    background: lightgrey;
    border: solid darkgrey;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
  }
}
