.inputContainer {
  max-width: 150px;
  margin-right: 20px;
}

.input {
  height: 2em;
  max-width: inherit;
}

.suggestionsContainer {
  background: white;
  margin: 3px;
  border: solid darkgrey;
  max-height: 8em;
  overflow-y: auto;
}

.suggestion {
  margin: 2px 0;
  &:not(:last-child) {
    border-bottom: solid darkgrey;
  }
}

.buttonContainer {
  @extend .suggestion;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  & > div {
    border-radius: 3px;
    background-color: lightgrey;
    padding: 3px 6px;
    cursor: pointer;
  }
}
